@{
    ViewData["Title"] = "خرید";
}
<h1>@ViewData["Title"]</h1>

<br>
<img src="https://cdn5.vectorstock.com/i/1000x1000/34/74/money-transaction-financial-transfer-banking-vector-10823474.jpg" width="300px" height="300px">